.produtos {
    display: flex;
    margin-left: 50vh;
    margin-right: 20vh;
    justify-content: space-between;
    flex-wrap: wrap;
}

.produto {
    margin-bottom: 5vh;

}

.desconto {
    background-color: #c8a2c8;
    color: white;
    margin-left: 25px;
    margin-right: 25px;
    padding: 2px;
}

.botao {
    background-color: #c8a2c8;
    border-color: #c8a2c8;
    color: white;
}

.titulo {
    margin-top: 20px;
    color: #c8a2c8;
    text-transform: uppercase;
    font-size: 1.0rem;
    height: 40px;
}

.preco-sem {
    border-bottom: 0 !important;
    text-decoration: line-through;
    padding-bottom: 0;
}

.preco-com {
    padding-top: 0;
    padding-bottom: 0;
    color: #c8a2c8;
    font-size: 1.4rem;
    border-bottom: 0 !important;
}

.parcelas {
    border-bottom: 0 !important;
}
